.wrapper{
  padding: 1rem;
}
.pre-title{
color: rgb(164, 184, 202);
font-size: large;
}
.title{
  font-size: 4rem;
}
.sub-title{
  padding: .5rem 0;
}
.description{
  font-family: 'IBM Plex Serif', serif;
  letter-spacing: .2;
  line-height: 1.8rem;
  font-size: 1.2rem;
  color: rgb(203, 211, 218);
}
