/* paleta de colores */
:root {
  --color-1: #023047;
  --color-2:#219ebc;
  --color-3:#ffb703;
  --color-4:#fb8500;
  -color-5:#8ecae6;
  --color-6: #33415c;
}
html, body{
  font-family: 'Roboto Mono', monospace;
  background-color: var(--color-1);
}
